MyRESTService/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Card" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="PriorityLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Residence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secure_Pass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BOffice" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Category" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Product" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Supplier" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="TaxFree" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Order_Check">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="BOffice" type="xs:int" />
      <xs:element minOccurs="0" name="Customer_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_Check" nillable="true" type="tns:Order_Check" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Category" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="LoginAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secure_Pass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginAuth" nillable="true" type="tns:LoginAuth" />
  <xs:complexType name="LoginEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secure_Pass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginEmployee" nillable="true" type="tns:LoginEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOffice_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Employee" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Residence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secure_Pass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Purchase_Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Invoice_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purchase_Item" nillable="true" type="tns:Purchase_Item" />
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Supplier" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="GenericQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericQuery" nillable="true" type="tns:GenericQuery" />
</xs:schema>